
config transproxy
	option enable '0'
	option tcp_port '1234'
	option udp_port '1234'
	#option server '216.239.35.53'
	option src_direct '/etc/transproxy/src-direct.txt'
	option src_proxy '/etc/transproxy/src-proxy.txt'
	option src_normal '/etc/transproxy/src-normal.txt'
	option dst_direct '/etc/transproxy/dst-direct.txt,/etc/transproxy/chnroute.txt'
	option dst_proxy '/etc/transproxy/dst-proxy.txt'
	option src_default 'NORMAL'
	option dst_default 'PROXY'
	option self_proxy '1'
	#option extra '-m multiport --dports 22:1023,5222,5228'
	#option mark '0xff'
	#option verbose '0'

config transproxy6
	option enable '0'
	option tcp_port '1234'
	option udp_port '1234'
	#option server '::ffff:216.239.35.53'
	option src_direct '/etc/transproxy/src-direct6.txt'
	option src_proxy '/etc/transproxy/src-proxy6.txt'
	option src_normal '/etc/transproxy/src-normal6.txt'
	option dst_direct '/etc/transproxy/dst-direct6.txt,/etc/transproxy/chnroute6.txt'
	option dst_proxy '/etc/transproxy/dst-proxy6.txt'
	option src_default 'NORMAL'
	option dst_default 'PROXY'
	option self_proxy '1'
	#option extra '-m multiport --dports 22:1023,5222,5228'
	#option mark '0xff'
	#option verbose '0'

